body {
    background-color: #effefd; 
    font-family: 'Tenor Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333; 
}

h1{
    color: #86a6a0;
}


a {
    text-decoration: none;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
    height: auto;
    margin-left: 50px;

}


.logo a {
    text-decoration: none;
}


.nome {
    font-weight: 600;
    font-size: 32px;
    color: #333;
    margin-left: 30px;
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.nav-item {
    margin-left: 20px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.nav-link {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Tenor Sans', sans-serif;
}

.nav-link:hover {
    background-color: #ffc1ba;
    transform: scale(1.1);
}

.nav-link:active {
    background-color: #ff9f9f; 
    transform: scale(0.9); 
}


.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex; 
    }

    ul {
        display: none; 
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #ade4b5;
        border-radius: 5px;
        width: 200px;
        padding: 10px;
    }

    ul.active {
        display: block; 
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav-link {
        font-size: 18px;
    }
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 100vh; 
    padding: 0 20px;
  }
  
  .intro-text h1 {
    font-size: 2.5rem; 
    margin-bottom: 20px; 
  }
  
  .intro-text p {
    font-size: 1.2rem; 
    margin-bottom: 20px; 
  }
  
  .intro-text .btn {
    margin-top: 10px; 
    padding: 10px 20px; 
    font-size: 1rem; 
  }
  
  .intro-text .produtosconheca {
    background-color: #ffc1ba; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-block;
  }
  
  .intro-text .contato {
    background-color: #ffc1ba; 
    color: white; 
    text-decoration: none;
    border-radius: 5px; 
    display: inline-block;
  }
  
  .intro-text .btn:hover {
    opacity: 1; 
  }

button {
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ade4b5; 
}


footer {
    background-color: #fce3ff; 
    color: #333; 
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px; 
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0 15px;
}

footer a {
    color: #333; 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}


footer a:hover {
    color: #86a6a0;
}


@media (max-width: 768px) {
    footer ul {
        flex-direction: column; 
        gap: 10px; 
    }
    
    footer li {
        margin: 0;
    }
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    margin-bottom: -200px;
    margin-top: -50px;
    position: relative;
}

.btn {
    display: inline-block; 
    margin-bottom: 20px;
}

.produtosconheca, .contato {
    background-color: #ffd4e2;
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.produtosconheca:hover, .contato:hover {
    background-color: #ffe0eb;
    color: #fff;
}


.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    z-index: 8;
    display: none; 
  }



.form-popup {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 3px solid #ffffffe8;
    z-index: 9;
    padding: 20px;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}


.form-container {
    max-width: 400px;
    width: 100%;
    padding: 10px;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 90%; 
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.form-container .btn {
    background-color: #86a6a0;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


.form-container .cancel {
    background-color: #ff9f9f;
}


.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}



.lancamento {
    margin-top: 200px; 
    padding: 20px; 
}

.sobre {
    background-color: #effefd;
    padding: 50px 20px; 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sobreinicial{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 50px 20px; 
    background-image: url('Images/fundinverde.jpg'); 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;
    text-align: center; 
    color: #fff; 
    border-radius: 20px;
}

.sobreinicial h3 {
    font-size: 2.5rem; 
    color: #333; 
    font-weight: 600; 
    margin-bottom: 20px; 
}

.sobreinicial p {
    font-size: 1.2rem;
    color: #000000; 
    line-height: 1.6; 
    max-width: 800px; 
    margin: 0 auto; 
}


@media (max-width: 768px) {
    .sobreinicial {
        padding: 30px 20px;
    }

    .sobreinicial h3 {
        font-size: 2rem;
    }

    .sobreinicial p {
        font-size: 1rem; 
    }
}


.sobrinho{
    margin-left: 30%;
    
}

.sobreum, .sobredois {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.texto {
    width: 60%; 
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6; 
}



.texto-e-imagem {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    margin-top: 20px;
    margin-right: 20%;
    
}


.texto {
    width: 150%; 
    font-size: 1.2rem;
    color: #333;
    margin-right: 100px;
    text-align: justify;
}

.imagem img {
    width: 300px; 
    height: 300px;
    border-radius: 8px; 
    margin-top: 15%;
}


h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: justify;
}



@media (max-width: 768px) {
    .sobreum, .sobredois {
        flex-direction: column; 
        align-items: center; 
    }

    .texto {
        width: 100%; 
        margin-bottom: 20px;
    }

    .imagem img {
        width: 80%; 
    }
}

.slider {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
    margin-top: 10%;  
    margin-left: 20%;
}


.slider-container {
    width: 50%; 
    height: 400px; 
    background-color: #effefd;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column; 
        align-items: center; 
    }

    .slider-container {
        width: 80%; 
        height: 300px;
        margin-top: 2rem; 
    }

    .produtosconheca, .contato {
        width: 100%; 
        margin-bottom: 1rem; 
    }
}


.slides {
    width: 400%;
    height: 100%;
    display: flex;
    transition: left 1s ease-in-out;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    height: 100%;
    transition: 2s;
 
        
}

.slide img{
    width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px
}


.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px; 
  }
  .card-list .card-item {
    width: 220px;
    height: 350px;
    color: #ffffff;
    user-select: none;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(231, 231, 231, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
  }
  .card-list .card-item .user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 3px solid #ffffff;
    padding: 4px;
    object-fit: cover;
  }
  .card-list .card-item .user-profession {
    font-size: 1rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 12px 0 30px;
  }
  .card-list .card-item .message-button {
    font-size: 1.1rem;
    padding: 8px 25px;
    color: #000000;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid transparent;
    transition: 0.2s ease;
    font-family: 'Tenor Sans', sans-serif;
  }
  .card-list .card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  .slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;
  }
  .slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .slider-wrapper .swiper-slide-button {
    color: #000000;
    margin-top: -5px;
    margin-left: 30px;
    margin-right: 30px;
    transition: 0.2s ease;
  }

  .slider-container {
    width: 100%;
    max-width: 1000px;
    height: 400px;
}

  .slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
  }
  @media (max-width: 768px) {
    .slider-wrapper {
      margin: 0 10px 40px;
    }
    .slider-wrapper .swiper-slide-button {
      display: none;
    }
    .card-list .card-item {
        width: 250px; 
    }
  }
  
  .card-item.swiper-slide {
    background-image: url('images/vamos.jpg'); 
}


.sobre, .produtos {
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.sobre.active, .produtos.active {
    opacity: 1;
    transform: translateY(0); 
}


.success-message {
    background-color: #86a6a0;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    display: none; 
}

.success-message p {
    font-size: 18px;
}

.success-message button {
    background-color: #ff9f9f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.success-message button:hover {
    background-color: #ff9f9f;
}